<template>
  <v-container fluid >
    <v-row align="center" justify="center">
      <v-col align="center" justify="center"> <h1>Carrito</h1> </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col align="center" justify="center">
        <showCartProducts :cartProducts="cartProducts"></showCartProducts>
      </v-col>
    </v-row>
  <ValidationObserver v-slot="{ invalid }">
    <v-row class="d-flex justify-center">
      <v-col cols="6">
                <ValidationProvider rules="required" name="address" v-slot="v">

        <v-text-field
                    :error-messages="v.errors[0]"

          name="address"
          label="Dirección"
          v-model="address"
        ></v-text-field>
                </ValidationProvider>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" class="d-flex justify-center">
        <v-btn color="success" @click="doAComanda()"  :disabled="!Boolean(cartProducts.length) || invalid">Realizar comanda</v-btn>
      </v-col>
    </v-row>
        </ValidationObserver>

  </v-container>
</template>
<script>
import showCartProducts from "../components/showCartProducts";
import { ValidationProvider } from "vee-validate";
import { ValidationObserver } from "vee-validate";
import { extend } from "vee-validate";
import { required } from "vee-validate/dist/rules";
extend("required", {
  ...required,
  message: `La casilla es requerida`,
});

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    showCartProducts,
  },
  data() {
    return { address:''};
  },
  methods: {
    async doAComanda(){
            this.$store.commit('setModal',{active:true,type:'success',text:'Comanda realizada'})

     await this.$store.dispatch('doAComanda',this.address)

    }
  },
  computed: {
    cartProducts() {
      return this.$store.getters.getCartProducts;
    },
  },
  watch: {},
  mounted() {},
};
</script>
