<template>
  <v-container fluid >
    <v-row align="center" justify="center">
      <v-col align="center" justify="center"> <h1>Historial de ordenes</h1> </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col align="center" justify="center">
        <showCartOrders :ordersHistory="ordersHistory"></showCartOrders>
      </v-col>
    </v-row>
    
   
  </v-container>
</template>
<script>
import showCartOrders from "../components/showCartOrders";

export default {
  components: {
    showCartOrders,
  },
  data() {
    return { address:''};
  },
  methods: {
    async getOrdersHistory(){
     await this.$store.dispatch('getOrdersHistory')
    }
  },
  computed: {
    ordersHistory() {
      return this.$store.getters.getOrdersHistory;
    },
  },
  watch: {},
  mounted() {
    this.getOrdersHistory()
  },
};
</script>
