<template>
  <v-container fluid fill-height>
    <v-row>
      <v-col cols="12" class="d-flex justify-center">
        <h1>BatoiLogic</h1>
      </v-col>
    
    
      <v-col cols="12" class="d-flex justify-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2PdQNfJZ4jo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </v-col>
      <v-col cols="12" class="d-flex justify-center">
        <audio controls>
 <source src="http://backoffice.g05.batoilogic.es/storage/AUDIO-BATOILOGIC.mp3" type='audio/mpeg; codecs="mp3"'>
  <source src="http://backoffice.g05.batoilogic.es/storage/AUDIO-BATOILOGIC.ogg" type='audio/ogg; codecs="Vorbis"'>
 </audio>
      </v-col>
      <v-col cols="12" class="d-flex justify-center"> 
        <v-btn
          class="mx-2"
          
          dark
          
          v-on="on"
          color="blue"
          @click="
            downloadItem(
              `http://backoffice.g05.batoilogic.es/storage/BATOILOGIC.txt`
            )
          "
        >
        Descargar transcripción
        </v-btn>
      </v-col>
    </v-row>
    
  </v-container>
</template>
<script>


export default {
  
  data() {
    return {shippingOrders:[],
    };
  },
  methods: {
    downloadItem( url ) {
                window.open(url, "_blank");    

    },
  },
  computed: {

  },
  watch: {},
  mounted() {
  },
};
</script>
