<template>
  <v-container fluid fill-height>
    <v-row  class="d-flex justify-center align-center">
      <v-col cols="6" v-if="user">
<v-card class="pa-5">
  <v-row>
    <v-col cols="6">
  <h3>Nombre:</h3> 

    </v-col>
    <v-col cols="6">
  <p>{{user.name}}</p> 

    </v-col>
  </v-row>
  <v-row>
    <v-col cols="6">
  <h3>Email:</h3> 

    </v-col>
    <v-col cols="6">
  <p>{{user.email}}</p> 

    </v-col>
  </v-row>
  <v-row>
    <v-col cols="6">
  <h3>Rol:</h3> 

    </v-col>
    <v-col cols="6">
  <p>{{user.rol}}</p> 

    </v-col>
  </v-row>
  
</v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>


export default {
 
  data() {
    return {shippingOrders:[],
    };
  },
  methods: {
   
  },
  computed: {
     user(){
      return this.$store.getters.getUser
    }
    
  },
  watch: {},
  mounted() {
  },
};
</script>
