<template>
  <v-container fluid fill-height>
    
    <v-row align="center" justify="center">
      <v-col cols="11" sm="4"  align="center" justify="center" v-for="product in products" :key="product.id">
        <productCard   :product='product'></productCard>
      </v-col>
    </v-row>
    
  </v-container>
</template>
<script>
import productCard from '../components/productCard'

export default {
  components:{
productCard
  },
  data() {
    return {shippingOrders:[],
    };
  },
  methods: {
    getProducts(){
      this.$store.dispatch('getProducts')
    }
  },
  computed: {
    products(){
      return this.$store.getters.getProducts
    }
  },
  watch: {},
  mounted() {
    this.getProducts()
  },
};
</script>
