<template>
    <v-alert :type="modal.type" v-if="modal.active">
      {{modal.text}}
    </v-alert>
</template>
<script>
export default {
    data() {
        return {
        }
    },
    computed:{
        modal(){
           return  this.$store.getters.getModal
        }
    }
}
</script>