<template>
  <v-app-bar app color="primary" dark>
    <h1>BatoiLogicG05</h1>
    <v-spacer></v-spacer>
    <v-btn to="store" class="mx-2">tienda</v-btn>
    <v-btn to="/">Inicio</v-btn>
    <v-spacer></v-spacer>

    <v-tooltip bottom v-if="getUser.name != ''">
      <template v-slot:activator="{ on }"
        ><v-btn
          text
          icon
          to="/profile"
          class="mr-5"
          v-on="on"
          v-if="getUser.name != ''"
        >
          <v-icon large>fas fa-user-alt</v-icon>
        </v-btn>
      </template>
      <span>Perfil</span>
    </v-tooltip>
    <v-tooltip bottom v-if="getUser.name != ''">
      <template v-slot:activator="{ on }">
        <v-btn text icon to="/history" class="mr-5" v-on="on">
          <v-icon large>fas fa-history</v-icon>
        </v-btn>
      </template>
      <span>Historial de ordenes</span>
    </v-tooltip>
    <v-tooltip bottom v-if="getUser.name != ''">
      <template v-slot:activator="{ on }">
        <v-btn text icon to="/cart" class="mr-5" v-on="on">
          <v-icon large>fas fa-shopping-cart</v-icon>
        </v-btn>
      </template>
      <span>Carrito</span>
    </v-tooltip>

    <v-btn
      class="ma-2"
      v-if="!getUser.name"
      to="/login"
      color="orange darken-2"
      dark
    >
      <v-icon dark left>
        fas fa-sign-in-alt
      </v-icon>
      Iniciar sesión
    </v-btn>

    <v-btn
      class="ma-2"
      v-if="!getUser.name"
      to="/register"
      color="green darken-2"
      dark
    >
      <v-icon dark left>
        fas fa-sign-in-alt
      </v-icon>
      Registrarse
    </v-btn>
  </v-app-bar>
</template>

<script>
export default {
  data() {
    return {
      key: "value",
    };
  },
  computed: {
    getUser() {
      return this.$store.getters.getUser;
    },
  },
};
</script>

<style></style>
