<template>
      <div>
           
            
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                    class="mx-2"
                    fab
                    v-on="on"
                    dark
                    small
                    color="red"
                    @click="removeOrder()"
                  >
                    <v-icon dark>fas fa-trash-alt</v-icon>
                  </v-btn>
                </template>

                <span>Eliminar</span>
              </v-tooltip>
              
            </div>
            
</template>

<script>
export default {
  data() {
      return {
      }
    },
    props:['order'],
  
    methods: {
        removeOrder(){
                this.$store.commit('setModal',{active:true,type:'success',text:'Orden eliminada'})

          this.$store.dispatch('removeOrder',this.order.id)
        }
        
    },
    
}
</script>

<style>

</style>