<template>
    <v-card class="mx-auto"  min-width="200" height="350px">
      <v-img class="white--text align-end" height="200px" :src="product.photo">
        <v-card-title>{{ product.name }}</v-card-title>
      </v-img>

      <v-card-subtitle class="pb-0">
        Descripción
      </v-card-subtitle>
      

      <v-card-text class="text--primary">
        <div>{{ product.description }}</div>
      </v-card-text>

      <v-card-actions class="d-flex justify-center ">
        
        <v-btn color="orange" @click="addProductToCart()" text>
          Comprar
        </v-btn>
      </v-card-actions>
    </v-card>
</template>

<script>
export default {
  props: ["product"],
  data() {
    return {
      search: "",
    };
  },
  methods: {
    addProductToCart(){
      this.$store.commit('setModal',{active:true,type:'success',text:'Producto añadido a la cesta'})
      this.$store.commit('addProductToCart',this.product)
    }
  },
  computed: {},
};
</script>

<style></style>
