<template>
        <v-col cols="10">
        <v-card>
          <v-row align="center" justify="center">
            <v-col md="12" class="text-center">
              <h3>
               Productos
              </h3>
            </v-col>
          </v-row>
         
          
          <v-row align="center" justify="center">
            <v-col md="6" sm="11" cols="11" class="text-center">
             <v-text-field
            v-model="search"
            append-icon="fas fa-search"
            label="Buscar"
            single-line
            hide-details
          ></v-text-field>
            </v-col>
          </v-row>
          
          <v-data-table
            :headers="headers"
            :items="cartProducts"
            :search="search"
            item-key="_id"
            class="elevation-1"
          >
            <template v-slot:item.name="{ item }">
              <p style="margin-bottom: 0px;">
                {{item.name}}
              </p>
            </template>
            <template v-slot:item.price="{ item }">
              <p style="margin-bottom: 0px;">
                                {{item.price}}

              </p>
            </template>
            <template v-slot:item.qty="{ item }">
              <p style="margin-bottom: 0px;">
                                <input v-model.number="item.qty" type="number" step="1" />

              </p>
            </template>
                  <template v-slot:item.options="{ item }">

            <CartProductsOptions :product="item"></CartProductsOptions>
                  </template>
          </v-data-table>
        </v-card>
      </v-col>
</template>

<script>
import CartProductsOptions from '../components/CartProductsOptions'
export default {
    components:{
        
        CartProductsOptions
    },
    props:['cartProducts'],
data() {
     return {
    
        search:'',
         headers: [
        { text: "Nombre", value: "name" },
        { text: "Precio", value: "price" },
        { text: "Cantidad", value: "qty" },
        { text: "Opciones", value: "options" },
      ],
};
},
methods:{
    
},
computed:{
 
}
}
</script>

<style>

</style>