<template>
  <v-col cols="10">
    <v-card>
      <v-row align="center" justify="center">
        <v-col md="12" class="text-center">
          <h3>
            Orders
          </h3>
        </v-col>
      </v-row>

      <v-row align="center" justify="center">
        <v-col md="6" sm="11" cols="11" class="text-center">
          <v-text-field
            v-model="search"
            append-icon="fas fa-search"
            label="Buscar"
            single-line
            hide-details
          ></v-text-field>
        </v-col>
      </v-row>

      <v-data-table
        :headers="headers"
        :items="ordersHistory"
        :search="search"
        item-key="_id"
        class="elevation-1"
      >
        <template v-slot:item.address="{ item }">
          <p style="margin-bottom: 0px;">
            {{ item.address }}
          </p>
        </template>
        <template v-slot:item.state="{ item }">
          <p style="margin-bottom: 0px;">
            {{ parseState(item.state) }}
          </p>
        </template>
        <template v-slot:item.options="{ item }">
          <orderOptions :order="item"></orderOptions>
        </template>
      </v-data-table>
    </v-card>
  </v-col>
</template>

<script>
import parseState from '../functions/parseState'
import orderOptions from "../components/orderOptions";
export default {
  components: {
    orderOptions,
  },
  props: ["ordersHistory"],
  data() {
    return {
      search: "",
      headers: [
        { text: "Dirección", value: "address" },
        { text: "Estado", value: "state" },
        { text: "Opciones", value: "options" },
      ],
    };
  },
  methods: {
    parseState(stateNumber){
       return parseState(stateNumber)
    }
  },
  computed: {
   
  },
};
</script>

<style></style>
